<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hatiku.Properties.Settings.ConnectionString" connectionString="Host=localhost;Port=5432;Database=postgres;User Id=postgres;&#xA;Password=Ubah Password;" />
    </connectionStrings>
</configuration>